
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

#importante2 {
    max-width: 550px;
    max-height: 550px;
    margin: auto;
}
.form-control{
    max-width: 550px;
    max-height: 550px;
    
}