.bg-light {
    background: rgb(155, 155, 160) !important;
}

#Multidispositivo {
    background: rgb(155, 155, 160)rgb(100, 100, 98) !important;
}

footer {
    background: rgb(155, 155, 160) !important;
}

h1 {
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;




}

.mayor-margen a {
    background-color: rgb(8, 8, 8);
    border-color: black;


}

#caja {
    border: solid rgb(0, 0, 0);


    font-family: Georgia, 'Times New Roman', Times, serif;

}

table {
    background-color: rgb(197, 223, 223);
    margin: auto;

}

body {

    height: 100%;
    background-image: linear-gradient(#FFFFFF, #70a4b4);


}

.form-control {
    background-color: rgb(255, 255, 255);


}
